<h1>Welcome to the Settings Page!</h1>
<p>Foo {{this.model.settings.foo}}</p>
<h2>Question Filter Settings</h2>
<form>
    <label for="enabled">Enabled?</label>
    <input id="enabled" type="checkbox">
</form>
{{outlet}}